@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap");
.navbar {
  background-image: linear-gradient(to right, rgb(255, 204, 0), rgb(0, 140, 255));
}

.nav-item:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-shadow: 0 0 5px green;
  background-color: white;
}

.navbar-brand {
  font-weight: 900;
  font-size: larger;
  align-items: center;
}

.navbar-brand .logo-brand {
  height: 40px;
}

.jumbotron {
  background-image: url(../optimized-images/jumbotron.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  text-align: center;
  margin: 0;
}

.jumbotron h1 {
  color: white;
  justify-items: center;
}

.jumbotron p {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

a, a:active {
  text-decoration: none;
  color: rgb(0, 1, 255);
}

.btn {
  background-color: rgb(255, 204, 0);
}

.btn .lupa-image {
  height: 24px;
}

/*BODY (HOME)*****************************************************************/
.home-title {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  justify-self: center;
}
.grid-container .home-box {
  justify-self: center;
  margin: 0%;
}
.grid-container .home-box .home-img {
  height: 300px;
  width: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 183, 0);
  padding: 5px;
  transition: 1500ms;
}
.grid-container .home-box .home-img:hover {
  transform: scale(1.1);
  border-color: rgb(0, 140, 255);
}
.grid-container .home-box p {
  display: flex;
  justify-items: center;
  margin: 20px;
}

/*BODY (PRODUCTS)*****************************************************************/
.title-prod {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.prod-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}
.prod-container .prod-box {
  justify-self: center;
}
.prod-container .prod-box .imgprod {
  height: 300px;
  width: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 204, 0);
  padding: 5px;
  transition: 1000ms;
}
.prod-container .prod-box .imgprod:hover {
  transform: translateY(20px);
  background-color: rgb(255, 183, 0);
}
.prod-container .prod-box .model-name {
  display: flex;
  justify-content: center;
  margin: 25px;
}

/*BODY (ABOUT US)******************************************************************/
.aboutus-title {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.subtitles-aboutus {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.text-aboutus {
  margin: 20px;
}

/*BODY (BRANCH OFFICES)************************************************************/
.offices-title {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.offices-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
}
.offices-container .office-address {
  margin: 10px;
  width: 560px;
  height: 450px;
}
.offices-container .office-address:hover {
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 140, 255);
}
.offices-container p {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: large;
  font-weight: bolder;
  color: rgb(255, 183, 0);
}
.offices-container p:hover {
  color: rgb(0, 140, 255);
}

/*BODY (NEWS)**********************************************************************/
.news-title {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.news-container {
  align-content: center;
}
.news-container .bg-orange {
  background-color: rgb(255, 237, 190);
}
.news-container .bg-grey {
  background-color: rgb(181, 186, 190);
}
.news-container .news-box {
  height: 650px;
  align-content: center;
}
.news-container .news-box .news-img {
  width: 300px;
  height: 300px;
  margin: 15px;
}
.news-container .news-box p {
  margin: 20px;
  font-weight: bold;
  font-size: medium;
}

/*FOOTER***************************************************************************/
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 183, 0);
}
.footer .boxes {
  width: 33.3%;
}
.footer .boxes .help-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 110px;
  margin-bottom: 15px;
  font-family: "Inter Tight", sans-serif;
}
.footer .boxes .copyright-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 110px;
  font-family: "Inter Tight", sans-serif;
}
.footer .boxes .findus-text {
  display: flex;
  margin-left: 85px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Inter Tight", sans-serif;
  font-weight: bold;
}
.footer .boxes .social-networks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-family: "Inter Tight", sans-serif;
  justify-content: space-evenly;
  align-items: center;
}
.footer .boxes .social-networks a {
  justify-self: start;
  margin-left: 15px;
}
.footer .boxes .social-networks a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.footer .boxes .social-networks img {
  justify-self: end;
  margin-right: 10px;
}
.footer .formulario {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  justify-content: center;
  align-items: center;
  font-family: "Inter Tight", sans-serif;
}
.footer .formulario .form-p {
  margin: 10px;
  font-size: x-large;
  font-family: "Inter Tight", sans-serif;
  font-weight: bold;
}
.footer .formulario .casillas, .footer .formulario textarea {
  width: 230px;
  height: 20px;
}
.footer .formulario textarea {
  height: 80px;
}
.footer .formulario .boton {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

/*MEDIA QUIERIES********************************************************************/
@media screen and (max-width: 1200px) {
  .prod-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 25%);
  }
  .offices-container .office-box .office-address {
    width: 450px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .container-fluid .news-container .news-box {
    height: 800px;
  }
}
@media screen and (max-width: 992px) {
  .navbar {
    flex-direction: column;
  }
  .grid-container {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 1fr);
  }
  .offices-container .office-box .office-address {
    width: 350px;
  }
}
@media screen and (max-width: 900px) {
  .prod-container {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media screen and (max-width: 900px) and (min-width: 768px) {
  .container-fluid .news-container .news-box {
    height: 850px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer .formulario {
    margin-left: 0px;
  }
  .footer .formulario .casillas, .footer .formulario textarea {
    height: 30px;
    width: 570px;
  }
  .footer .formulario textarea {
    width: 570px;
  }
  .footer .boxes .help-section {
    margin-left: 0;
  }
  .footer .boxes .copyright-section {
    margin-left: 0;
  }
  .footer .boxes .findus-text {
    margin-left: 0;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }
  .offices-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 1fr);
  }
  .offices-container .office-box .office-address {
    width: 525px;
  }
}
@media screen and (max-width: 620px) {
  .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 1fr);
  }
}
@media screen and (max-width: 620px) and (min-width: 577) {
  .container-fluid .news-container .news-box {
    height: 700px;
  }
}
@media screen and (max-width: 600px) {
  .prod-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(12, 1fr);
  }
  .container-fluid .news-container .news-box {
    height: 1000px;
  }
}
@media screen and (max-width: 576px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .form-inline {
    flex-wrap: nowrap;
  }
  .offices-container .office-box .office-address {
    width: 310px;
    height: 310px;
  }
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer .formulario {
    margin-left: 0px;
  }
  .footer .formulario .casillas, .footer .formulario textarea {
    height: 30px;
    width: 310px;
  }
  .footer .formulario textarea {
    width: 310px;
  }
}/*# sourceMappingURL=main.css.map */